:root {

    /*== CORES PRINCIPAIS ===========================*/
    --bd-1st-color: #FFFFFF;
    --bd-2nd-color: #19184e;
    --bd-3rd-color: #efb857;
    --bd-4th-color: #C24229;
    --bd-5th-color: #E1DCC9;
    --bd-6th-color: hsl(240, 11%, 80%);
    --bd-foto-color: #f3c068;

    --font-1st-color: #000000;
    --font-2nd-color: #333333;
    --font-3rd-color: #767171;
    --font-4th-color: #D9D9D9;
    --font-5th-color: #FFFFFF;
    --font-6th-color: #19184e;
    --font-7th-color: #D9D9D9;

    /*== FONTE =====================================*/
    --font-body: 'Poppins', sans-serif;

    /*== TAMANHOS DA FONTE ========================*/
    --font-big-size: 50px;
    --font-medium-size: 2rem;
    --font-normal-size: 1.4rem;
    --font-small-size: 18px;
    --font-h1-size: 1.5rem;
    --font-h2-size: 1.25rem;
    
    /*== DENSIDADE DA FONTE ======================*/
    --font-normal-weight: 400;
    --font-medium-weight: 500;
    --font-semi-bold: 600; 
}

body.modo-escuro {
    /* --bd-1st-color: #030716; */
    --bd-1st-color: #070F2B;
    --bd-2nd-color: #1B1A55;
    --bd-3rd-color: #EFB758;
    --bd-4th-color: #C24229;
    --bd-5th-color: #E1DCC9;
    --bd-6th-color: #8e8ea4;

    --font-1st-color: #FFFFFF;
    --font-2nd-color: #FFFFFF;
    --font-3rd-color: #FFFFFF;
    --font-4th-color: #EFB758;
    --font-5th-color: #FFFFFF;
    --font-6th-color: #FFFFFF;
    --font-7th-color: #D9D9D9;
    
    --transparent-color: rgba(255, 255, 255, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bd-1st-color);
    color: var(--font-5th-color);
    transition: background .2s linear;
}

/* ::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--font-4th-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bd-2nd-color);
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    background-color: var(--bd-6th-color);
    height: 10px;
} */

header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: var(--bd-1st-color);
    transition: background .2s linear;
}

/* .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
} */

.menu-bar-icon,
.side-menu {
    display: none;
}

.bx-menu {
    color: var(--font-6th-color);
}

.menu-link {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    color: var(--font-2nd-color);
    font-weight: var(--font-normal-weight);
    text-align: left;
    padding: 14px;
    text-decoration: none;
}

.nav-bar-list {
    display: flex;
    justify-content: end;
    list-style-type: none;
    margin: 0;
    padding: 0.25rem;
    overflow: hidden;
    width: 90%;
}

#dark-mode {
    font-size: 20px;
    color: var(--bd-2nd-color);
}

li a:hover {
    color: var(--bd-3rd-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px 0 0;
}

#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-mim {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.informacoes-introducao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 750px;
    /* margin-right: 40px; */
}

.social-media-icons > ul {
    font-size: var(--font-medium-size);
    text-decoration: none;
    list-style-type: none;
    margin: 0 15px;
}

.social-media-list > li a {
    text-decoration: none;
    color: var(--bd-3rd-color);
}

.resumo {
    margin-left: 20px;
}

.resumo > p {
    margin-top: 20px;
    font-size: var(--font-small-size);
    text-align: left;
    width: 600px;
    color: var(--font-1st-color);
}

.apresentacao {
    font-size: 45px;
    color: var(--font-1st-color);
    font-weight: 500;
    text-align: left;
}

.profissao {
    font-size: var(--font-normal-size);
    color: var(--font-3rd-color);
    font-weight: 600;
}

.btn-contato {
    align-self: flex-start;
    margin-top: 40px;
}

.btn-contato > button {
    background-color: var(--bd-2nd-color);
    border: none;
    padding: 10px 25px;
    font-size: 20px;
    
    border-radius: 10px;
    cursor: pointer;
}

.btn-contato > button a {
    text-decoration: none;
    color: var(--font-5th-color);
}

.foto-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    background-color: var(--bd-foto-color);
    border-radius: 49% 51% 58% 42% / 43% 40% 60% 57%;
}

.foto-perfil-eliana {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: inherit;
    /* filter: contrast(105%); */
    /* filter: brightness(90%); */
}


.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 150px;
    padding: 150px 0;
    height: auto;
    width: 100%;
    background-color: var(--bd-2nd-color);
}

.introducao {
    width: 75%;
    text-align: center;
    color: var(--font-5th-color);
    padding: 50px;
}

.introducao > h1 {
    font-size: 30px;
}

.introducao > h2 {
    font-weight: var(--font-semi-bold);
    color: var(--bd-3rd-color);
    /* margin-bottom: 20px; */
}

.resumo-sobre-mim {
    margin-top: 40px;
}

.resumo-sobre-mim > p {
    /* line-height: 30px; */
    padding: 15px 0 0 0;
    font-size: var(--font-small-size);
    text-align: left;
}

.qualificacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    width: 100%;
    height: auto;
}

.qualificacoes > h1 {
    font-size: 30px;
    color: var(--font-1st-color);
}

.qualificacoes > h2 {
    color: var(--font-4th-color);
}

.titulo-tipo-qualificacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.educacao,
.profissional {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 20px;
    padding: 10px;
    font-size: var(--font-small-size);
    color: var(--font-6th-color);
    border: none;
    background-color: var(--bd-1st-color);
    cursor: pointer;
}

.educacao > i,
.profissional > i {
    margin: 15px;
    font-size: var(--font-normal-size);
}

.linha-do-tempo-profissional {
    display: none;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    z-index: 1;
}

.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline ul {
    list-style: none;
}

.timeline ul li {
    padding: 20px;
    background-color: var(--bd-2nd-color);
    color: var(--font-5th-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.timeline ul li:last-child {
    margin-bottom: 0;
}

.timeline-content h1 {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}

.timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

.timeline-content .date {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: var(--font-5th-color);
}

.certificacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.certificacoes > h2 {
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: var(--font-6th-color);
}

.certificados {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.curso {
    margin: 10px 30px;
    padding: 20px;
    background-color: var(--bd-5th-color);
    color: var(--bd-2nd-color);
    width: 100%;
    border-radius: 0px 20px 20px 20px;
}

.curso .date {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: var(--bd-2nd-color);
}

.desenvolvimento > h1 {
    font-size: 30px;
    color: var(--font-1st-color);
}

.desenvolvimento > h2 {
    color: var(--font-4th-color);
}

.desenvolvimento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    width: 100%;
    height: auto;
}

.modulos-desenvolvimento {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 35px 0 50px 0;
}

.front-end-dev, 
.back-end-dev,
.ferramentas-dev {
    padding: 20px;
    margin: 0 10px;
    font-size: 20px;
}

.front-end-dev > li,
.back-end-dev > li,
.ferramentas-dev > li, 
.front-end-conteudo ul li,
.back-end-conteudo ul li,
.ferramentas-conteudo ul li {
    list-style: none;
    display: flex;
    font-size: var(--font-normal-size);
}

.titulo-modulo {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    font-size: var(--font-small-size);
    cursor: pointer;
    margin-bottom: 10px;
    /* user-select: none; */
}

.titulo-modulo > i,
.titulo-modulo > h1 {
    margin: 0 10px;
    font-size: 25px;
    color: var(--font-6th-color);
}

.front-end-conteudo ul,
.back-end-conteudo ul,
.ferramentas-conteudo ul {
    display: block;
    color: var(--font-1st-color);
}

.front-end-conteudo ul li > i,
.back-end-conteudo ul li > i,
.ferramentas-conteudo ul li > i {
    font-size: 30px;
    margin: 0 20px;
    text-align: center;
    color: var(--font-4th-color);
}

/*=== SERVIÇOS ============================================*/

.servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    width: 100%;
}

.servicos > h2 {
    font-size: 30px;
    color: var(--font-6th-color);
}

.modulos-servicos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    margin: 50px 0;
    width: 80%;
    color: var(--font-1st-color);
}

.modulos-servicos > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    background-color: var(--bd-1st-color);
    padding: 25px 20px;
    width: 410px;
    height: auto;
    margin: 0 15px;
    border-radius: 10px;
    border: var(--font-4th-color) 1px solid;
    
}

.modulo-analise-dev:hover,
.modulo-dev-back-end:hover,
.modulo-dev-front-end:hover {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0px 5px 7px rgba(150, 146, 146, 0.2);
}

.titulo-servico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    font-size: 15px;
    margin: 0 auto;
    color: var(--font-1st-color);
}

.btn-modulo-servico {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: var(--font-semi-bold);
    width: auto;
    padding: 30px;
    margin: 45px auto 0;
    cursor: pointer;
    
    background-color: var(--bd-1st-color);
    color: var(--font-6th-color);
    border-radius: 10px;
    border: var(--bd-2nd-color) 3px solid;
}

.btn-modulo-servico:hover {
    background-color: var(--bd-2nd-color);
    color: var(--font-5th-color);
}

.btn-modulo-servico > i {
    font-size: 30px;
}

.modal-servicos {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-servicos.open {
    opacity: 1;
    z-index: 999;
}

 .modal-conteudo {
    position: relative;
    text-align: left;
    flex-direction: column;
    background-color: var(--bd-1st-color);
    width: 500px;
    margin: 100px 25px;
    padding: 10px 40px 60px;
    border-radius: 10px;
    height: auto;
    
    color: var(--font-1st-color);
}

.modal-conteudo > h2 {
    font-size: 23px;
    text-align: center;
    margin: 50px 0 40px;
}

.popup-lista {
    list-style: none;
}

.item-servico {
    display: flex;
    align-items: center;
}

.item-servico i,
.item-servico p {
    color: var(--font-2nd-color);
    font-size: 18px;
    padding: 5px;
}

.btn-fechar-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px;
    width: 150px;
    font-size: var(--font-small-size);
    background-color: var(--bd-2nd-color);
    color: var(--font-5th-color);
    border-radius: 10px;
    margin: 50px auto 0;
    cursor: pointer;
}

/*=== PROJETOS =================================================*/

.projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 0;
}

.projetos > h1 {
    font-size: 30px;
    color: var(--font-1st-color);
}

.projetos > h2 {
    color: var(--font-4th-color);
}

.container-projetos {
    height: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-projeto {
    color: var(--font-6th-color);
}

.projetos-slider {
    position: relative;
    max-width: 1000px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}

.projetos-slider .image {
    height: 220px;
    width: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 100px;
}

.projetos-slider .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.slide .projeto-descricao {
    text-align: left;
    padding: 0 100px 0 60px;
    font-size: 14px;
    font-weight: 400;
    color: var(--font-1st-color);
    list-style: none;   
}

.projeto-descricao li {
    margin: 0 0 15px 0;
}

.projeto-descricao li h3 {
    font-size: 16px;
    color: var(--bd-3rd-color);
}

.slide .projeto-detalhes {
    display: flex;
}

/* swipper button css */
.nav-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: translateY(30px);
    cursor: pointer;
    /* background-color: rgba(0, 0, 0, 0.1); */
    transition: 0.2s;
}

.nav-btn::after,
.nav-btn::before {
    font-size: 20px;
    font-weight: 600;
    color: var(--font-6th-color);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--font-6th-color);
    opacity: 1;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: var(--bd-2nd-color);
    color: var(--font-5th-color);
    height: auto;
    width: 100%;
    margin: 100px 0 0;
    padding: 70px 70px 10px;
}

.contato h1 {
    font-size: 30px;
    text-align: center;
}

.link-redes {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.link-redes > li a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 20px;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.link-redes > li a:hover {
    color: var(--bd-3rd-color);
}

.link-redes > li i {
    font-size: 25px;
    margin: 0 10px;
}

.btn-voltar-topo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    border: 1px solid var(--font-5th-color);
    border-radius: 10px;
    background: none;
    cursor: pointer;
    color: var(--font-5th-color);
}

.contato a {
    text-decoration: none;
}

.btn-voltar-topo:hover {
    transform: translateY(0.2rem);
    transition: 0.5s;
    
}

.btn-voltar-topo i {
    font-size: 25px;
    margin: 0 10px;
}

.rodape {
    margin: 50px 0 10px;
}

.rodape a {
    color: var(--font-5th-color);
    text-decoration: underline;
}

.side-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nav-mobile-lista {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--bd-2nd-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 1px 0px 2.5px hsl(227, 10%, 5%);
}

.nav-mobile-lista li a {
    padding: 15px 15px 15px 40px;
    text-decoration: none;
    font-size: 19px;
    color: var(--font-5th-color);
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.nav-mobile-lista li a i {
    margin: 0 10px;
}

.nav-mobile-lista a:hover {
    color: var(--bd-3rd-color);
}

.nav-mobile-lista .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}

#closeBtn {
    cursor: pointer;
    color: var(--bd-pri-cor);
}

@media screen and (max-height: 450px) {
    .nav-mobile-lista {padding-top: 15px;}
    .nav-mobile-lista a {font-size: 18px;}
}

@media only screen and (max-width: 1200px) {
    
    .nav-bar-menu {
        display: none;
    }

    .menu-bar-icon {
        display: block;
        font-size: 30px;
        margin: 10px;
        color: var(--bd-2nd-color);
    }

    header {
        box-shadow: 0px 0px 5px rgba(150, 146, 146, 0.2);
    }
    
    /* HOME */
    
    .sobre-mim {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .informacoes-introducao {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        margin-top: 250px;
    }

    .social-media-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .social-media-list > li {
        margin: 5px;
    }

    .resumo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .resumo > p {
        margin-top: 20px;
        font-size: var(--font-small-size);
        text-align: center;
        width: 95%;
        color: var(--font-1st-color);
    }
    
    .apresentacao {
        font-size: 32px;
        color: var(--font-1st-color);
        font-weight: 500;
        text-wrap: nowrap;
        text-align: center;
        margin: 0 auto;
    }
    
    .profissao {
        font-size: var(--font-normal-size);
        color: var(--font-3rd-color);
        text-align: center;
    }

    .foto-perfil {
        position: absolute;
        top: 100px;
    }

    .foto-perfil-eliana {
        width: 220px;
        height: 220px;
    }

    .btn-contato {
        margin: 40px auto;
    }

    /* SOBRE MIM */

    .sobre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        width: 100%;
        height: auto;
        background-color: var(--bd-2nd-color);
    }
    
    .introducao {
        width: 100%;
        text-align: center;
        color: var(--font-5th-color);
        padding: 30px 10px;
    }
    
    .introducao > h1 {
        font-size: 30px;
    }
    
    .introducao > h2 {
        font-weight: var(--font-semi-bold);
        color: var(--bd-3rd-color);
    }
    
    .introducao > p {
        margin-top: 20px;
        font-size: var(--font-small-size);
        text-align: center;
    }

    /* QUALIFICAÇÕES */

    .titulo-tipo-qualificacao {
        margin-top: 50px;
        flex-wrap: wrap;
    }

    .titulo-tipo-qualificacao > button {
        margin: 0 auto;
        padding: 10px;
    }

    .certificacoes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    
    .certificacoes > h2 {
        margin: 10px;
        padding: 10px;
        font-size: 30px;
        color: var(--font-6th-color);
    }
    
    .certificados {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .curso {
        margin: 10px 0;
        padding: 20px;
        background-color: var(--font-4th-color);
        color: var(--bd-2nd-color);
        width: 100%;
        border-radius: 0px 20px 20px 20px;
    }
    
    .curso .date {
        font-size: 13px;
        font-weight: 300;
        margin-bottom: 10px;
        letter-spacing: 2px;
    }

    /* DESENVOLVIMENTO */

    .desenvolvimento > h1 {
        font-size: 30px;
    }
    
    .desenvolvimento > h2 {
        color: var(--font-4th-color);
    }
    
    .desenvolvimento {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 0px;
        width: 100%;
        height: auto;
    }
    
    .modulos-desenvolvimento {
        display: flex;
        justify-content: center;
        /* flex-wrap: wrap; */
        /* margin: 35px 0 50px 0; */
    }
    
    .front-end-dev, 
    .back-end-dev,
    .ferramentas-dev {
        padding: 20px;
        margin: 0 10px;
        font-size: 20px;
    }

    .titulo-modulo {
        display: flex;
        justify-content: space-between;
        width: 350px;
    }

    .titulo-modulo h1 {
        font-size: 22px;
    }

    .front-end-conteudo ul li,
    .back-end-conteudo ul li,
    .ferramentas-conteudo ul li {
        font-size: 20px;
        margin: 0 20px;
        text-align: center;
        /* color: var(--font-4th-color); */
    }

    /* SERVIÇOS */

    .servicos {
        width: 100%;
    }

    .modulos-servicos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
        width: 100%;
    }
    
    .modulos-servicos > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    
        background-color: var(--bd-1st-color);
        padding: 25px 20px;
        width: 50%;
        height: auto;
        margin: 15px 0;
    }
    
    .btn-modulo-servico {
        padding: 20px;
        margin: 45px 0;
    }

    /* PROJETOS */

    .projetos-slider {
        position: relative;
        max-width: 1000px;
        width: 100%;
        padding: 50px 0;
        overflow: hidden;
    }
    
    .projetos-slider .image {
        height: 200px;
        width: 310px;
        object-fit: cover;
        border-radius: 10px;
        margin: 0 auto;
    }
    
    .projetos-slider .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 30px;
    }

    .slide .projeto-descricao {
        text-align: center;
        padding: 0 100px 0 60px;
        font-size: 16px;
        font-weight: 400;
        color: var(--font-1st-color);
        list-style: none;   
    }
    
    .projeto-descricao li {
        margin: 0 0 15px 0;
    }
    
    .projeto-descricao li h3 {
        margin-top: 20px;
        font-size: 20px;
        color: var(--bd-3rd-color);
    }
    
    .projeto-descricao li p {
        font-size: 18px;
        margin-top: 10px;
    }

    .slide .projeto-detalhes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .nav-btn {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        transform: translateY(30px);
        cursor: pointer;
        /* background-color: rgba(0, 0, 0, 0.1); */
        transition: 0.2s;
    }
        
    .nav-btn::after,
    .nav-btn::before {
        font-size: 20px;
        font-weight: 600;
        color: var(--bd-2nd-color);
    }

    .link-redes > li i {
        font-size: 30px;
    }

    .link-redes > li p {
        display: none;
    }

    .rodape {
        text-align: center;
    }

}

@media only screen and (max-width: 650px) {

    .modulos-servicos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
        width: 100%;
    }
    
    .modulos-servicos > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    
        background-color: var(--bd-1st-color);
        padding: 25px 20px;
        width: 80%;
        height: auto;
        margin: 15px 0;
    }

    .slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide .projeto-detalhes {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide .projeto-descricao {
        margin-left: 25px;
    }
    
    .projeto-descricao li h3 {
        margin: 20px 0;
    }
    
    .projeto-descricao li p {
        width: 280px;
        margin: 10px 30px;
    }

    .nav-btn::after,
    .nav-btn::before {
        visibility: hidden;
        font-size: 20px;
        font-weight: 600;
        color: var(--bd-2nd-color);
    }
}

@media only screen and (min-width: 768px) {  
    
    /* QUALIFICAÇÕES */    

    .timeline::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--font-7th-color);
    }
    
    .timeline ul li {
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }

    .timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 20px 0px 20px 20px;
    }

    .timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0px 20px 20px 20px;
    }

    .timeline ul li::after {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: var(--font-7th-color);
        border-radius: 50%;
        top: 0;
    }

    .timeline ul li:nth-child(odd)::after {
        transform: translate(50%, -50%);
        right: -30px;
    }

    .timeline ul li:nth-child(even)::after {
        transform: translate(-50%, -50%);
        left: -30px;
    }

    .timeline ul li:hover::after {
        background-color: var(--bd-3rd-color);
    }

    .timeline-content .date {
        position: absolute;
        top: -30px;
        color: var(--font-1st-color);
    }

}